<footer>
    <div>
        <h1>Blogr</h1>
    </div>
    <div>
        <p>Product</p>
        <ul>
            <li>Overview</li>
            <li>Pricing</li>
            <li>Marketplace</li>
            <li>Features</li>
            <li>Integrations</li>
        </ul>
    </div>
    <div>
        <p>Company</p>
        <ul>
            <li>About</li>
            <li>Team</li>
            <li>Blog</li>
            <li>Careers</li>
        </ul>
    </div>
    <div>
        <p>Connect</p>
        <ul>
            <li>Contact</li>
            <li>Newsletter</li>
            <li>LinkedIn</li>
        </ul>
    </div>
</footer>