<main>
    <app-header></app-header>
    <img class="decorator-mobile" src="./assets/images/bg-pattern-intro-mobile.svg" >
    <img class="decorator-desktop" src="./assets/images/bg-pattern-intro-desktop.svg" >

    <section class="main-content">
        <h1>
            A modern publishing platform
        </h1>
        <p>Grow your audience and build your online brand</p>
        <div class="buttons">
            <button>
                Start to Free
            </button>
            <button>
                Learn More
            </button>
        </div>
    </section>
</main>
