<section class="container">
    <h1>Designed for the future</h1>
    <div class="image-container">
        <img class="desktop" src="./assets/images/illustration-editor-desktop.svg">
        <img class="mobile" src="./assets/images/illustration-editor-mobile.svg">
    </div>
    <article class="first-article"> 
        <h2>Introducing an extensible editor</h2>
        <p>
            Blogr features an exceedingly intuitive interface which lets your focus
            on one thing: creating content. The editor supports management of mutiples blogs and
            allows ease manipulation of embeds such as images, videos,
            and Markdown. Extensibility with plugins and themes provide easy ways to add functionality or change the look of a blog.
        </p>
    </article>
    <article class="second-article">
        <h2>Robust content management</h2>
        <p>
            Flexible content management enables users to easily move through post.
            Increase the usability of your blog by adding customized categories, sections, format, or flow. With this functionality, you're in full control.
        </p>
    </article>


</section>