
.container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, fit-content);

}

h2{
    color:var(--very-dark-desaturated-blue);
    font-weight: 500;
}    


img.mobile{
    display: block;
    width: 100%;
    margin: auto;
}
img.desktop { 
    display: none;
}


article{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    margin-top: 2rem;
}

p{
    width: 90%;
    text-align: center;
    margin:0 auto;
    color:var(--very-dark-desaturated-blue);
}


@media screen and (min-width:1200px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 15rem;
        
    }
    article{
        margin-top: 0rem;
        align-items: flex-start;
    }
    .image-container{
        grid-area: 1 / 1 / 3 / 2; 
        position: relative;
        height: 360px;
    }
    img.desktop { 
        display: block;
        width: 100%;
        max-width: 600px;
        position: absolute;
        top: -10rem;
        
    }
    img.mobile{
        display: none;
    }
    .first-article { 
        grid-area: 1 / 2 / 2 / 3;
    }
    .second-article {
        grid-area: 2 / 2 / 3 / 3;
       
    }
    p{
        width: 100%;
        text-align: left;
    }

        
}